# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Jericoin Core
Comment=Jericoin Core QT main network
GenericName=Jericoin Digital Currency QT client main network
Exec=jericoin-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/jericoin.png
MimeType=x-scheme-handler/jericoin;
Categories=X-Office;X-Finance;
Keywords=internet;jericoin;zpiv;piv;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_US]=jericoin-qt.desktop
